#Import necessary **Libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils
from sklearn.model_selection import train_test_split
from keras.layers import Dense
from keras.models import Sequential
from keras import regularizers
from keras.layers import Dropout
from keras.layers import RandomFlip
from keras.layers import RandomRotation
from keras.callbacks import EarlyStopping

#Upload CSV file/Dataset

In [ ]:
data = pd.read_csv('milknew.csv')
data

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0     6.6          35      1     0     1          0     254    high
1     6.6          36      0     1     0          1     253    high
2     8.5          70      1     1     1          1     246     low
3     9.5          34      1     1     0          1     255     low
4     6.6          37      0     0     0          0     255  medium
...   ...         ...    ...   ...   ...        ...     ...     ...
1054  6.7          45      1     1     0          0     247  medium
1055  6.7          38      1     0     1          0     255    high
1056  3.0          40      1     1     1          1     255     low
1057  6.8          43      1     0     1          0     250    high
1058  8.6          55      0     1     1          1     255     low

[1059 rows x 8 columns]

In [ ]:
data.describe()

,pH,Temprature,Taste,Odor,Fat,Turbidity,Colour
count,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000
mean,6.630123,44.226629,0.546742,0.432483,0.671388,0.491029,251.840415
std,1.399679,10.098364,0.498046,0.495655,0.469930,0.500156,4.307424
min,3.000000,34.000000,0.000000,0.000000,0.000000,0.000000,240.000000
25%,6.500000,38.000000,0.000000,0.000000,0.000000,0.000000,250.000000
50%,6.700000,41.000000,1.000000,0.000000,1.000000,0.000000,255.000000
75%,6.800000,45.000000,1.000000,1.000000,1.000000,1.000000,255.000000
max,9.500000,90.000000,1.000000,1.000000,1.000000,1.000000,255.000000

In [ ]:
data.isnull().sum()

pH            0
Temprature    0
Taste         0
Odor          0
Fat           0
Turbidity     0
Colour        0
Grade         0
dtype: int64

In [ ]:
X = data.iloc[:,:7]
X

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour
0     6.6          35      1     0     1          0     254
1     6.6          36      0     1     0          1     253
2     8.5          70      1     1     1          1     246
3     9.5          34      1     1     0          1     255
4     6.6          37      0     0     0          0     255
...   ...         ...    ...   ...   ...        ...     ...
1054  6.7          45      1     1     0          0     247
1055  6.7          38      1     0     1          0     255
1056  3.0          40      1     1     1          1     255
1057  6.8          43      1     0     1          0     250
1058  8.6          55      0     1     1          1     255

[1059 rows x 7 columns]

In [ ]:
Y = data.iloc[:,7:]
Y

       Grade
0       high
1       high
2        low
3        low
4     medium
...      ...
1054  medium
1055    high
1056     low
1057    high
1058     low

[1059 rows x 1 columns]

In [ ]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
Y = np_utils.to_categorical(encoded_Y)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
Y

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]], dtype=float32)

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 20, random_state = 1)

In [ ]:
X_train

      pH  Temprature  Taste  Odor  Fat   Turbidity  Colour
535  6.8          38      0     0     0          0     255
784  6.7          45      1     1     0          0     247
640  6.6          45      0     1     1          1     250
382  9.0          43      1     0     1          1     250
27   6.6          34      0     0     0          1     240
..   ...         ...    ...   ...   ...        ...     ...
960  3.0          40      1     0     0          0     255
847  6.5          37      0     1     1          1     245
715  3.0          40      1     1     1          1     255
905  3.0          40      1     1     1          1     255
235  6.5          37      0     0     0          0     245

[1039 rows x 7 columns]

In [ ]:
callback = EarlyStopping(monitor='loss', patience=3)
model = Sequential()
model.add(Dropout(0, input_shape=(7, )))
model.add(Dense(9, input_dim = 7, activation = 'relu',kernel_regularizer='l2'))
model.add(Dense(10, activation = 'relu',kernel_regularizer='l2'))
model.add(Dense(10, activation = 'relu',kernel_regularizer='l2'))
model.add(Dense(10, activation = 'relu',kernel_regularizer='l2'))
model.add(Dense(3, activation = 'softmax',kernel_regularizer='l2'))

In [ ]:
model.compile(loss = 'categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [ ]:
history = model.fit(X_train, Y_train, epochs = 200, batch_size = 59,callbacks=[callback])

Epoch 1/200
18/18 [==============================] - 1s 3ms/step - loss: 3.6713 - accuracy: 0.2685
Epoch 2/200
18/18 [==============================] - 0s 2ms/step - loss: 1.9392 - accuracy: 0.3542
Epoch 3/200
18/18 [==============================] - 0s 2ms/step - loss: 1.4366 - accuracy: 0.3831
Epoch 4/200
18/18 [==============================] - 0s 2ms/step - loss: 1.3913 - accuracy: 0.4062
Epoch 5/200
18/18 [==============================] - 0s 3ms/step - loss: 1.3582 - accuracy: 0.4023
Epoch 6/200
18/18 [==============================] - 0s 3ms/step - loss: 1.3338 - accuracy: 0.4167
Epoch 7/200
18/18 [==============================] - 0s 2ms/step - loss: 1.3109 - accuracy: 0.4062
Epoch 8/200
18/18 [==============================] - 0s 2ms/step - loss: 1.2905 - accuracy: 0.4341
Epoch 9/200
18/18 [==============================] - 0s 3ms/step - loss: 1.2702 - accuracy: 0.4110
Epoch 10/200
18/18 [==============================] - 0s 2ms/step - loss: 1.2503 - accuracy: 0.4062
Epoch 11/200
18/18 [==============================] - 0s 2ms/step - loss: 1.2331 - accuracy: 0.4880
Epoch 12/200
18/18 [==============================] - 0s 2ms/step - loss: 1.2171 - accuracy: 0.4456
Epoch 13/200
18/18 [==============================] - 0s 3ms/step - loss: 1.2007 - accuracy: 0.4928
Epoch 14/200
18/18 [==============================] - 0s 3ms/step - loss: 1.1827 - accuracy: 0.4495
Epoch 15/200
18/18 [==============================] - 0s 2ms/step - loss: 1.1675 - accuracy: 0.5149
Epoch 16/200
18/18 [==============================] - 0s 2ms/step - loss: 1.1551 - accuracy: 0.4918
Epoch 17/200
18/18 [==============================] - 0s 2ms/step - loss: 1.1407 - accuracy: 0.4832
Epoch 18/200
18/18 [==============================] - 0s 2ms/step - loss: 1.1259 - accuracy: 0.5120
Epoch 19/200
18/18 [==============================] - 0s 2ms/step - loss: 1.1137 - accuracy: 0.5159
Epoch 20/200
18/18 [==============================] - 0s 2ms/step - loss: 1.1021 - accuracy: 0.5140
Epoch 21/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0911 - accuracy: 0.5005
Epoch 22/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0844 - accuracy: 0.4986
Epoch 23/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0737 - accuracy: 0.5130
Epoch 24/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0636 - accuracy: 0.5130
Epoch 25/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0619 - accuracy: 0.5159
Epoch 26/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0501 - accuracy: 0.4995
Epoch 27/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0466 - accuracy: 0.4966
Epoch 28/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0388 - accuracy: 0.5178
Epoch 29/200
18/18 [==============================] - 0s 3ms/step - loss: 1.0360 - accuracy: 0.5188
Epoch 30/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0310 - accuracy: 0.5111
Epoch 31/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0207 - accuracy: 0.5043
Epoch 32/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0157 - accuracy: 0.5188
Epoch 33/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0139 - accuracy: 0.5245
Epoch 34/200
18/18 [==============================] - 0s 3ms/step - loss: 1.0137 - accuracy: 0.5101
Epoch 35/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0089 - accuracy: 0.5255
Epoch 36/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0140 - accuracy: 0.5274
Epoch 37/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0020 - accuracy: 0.5091
Epoch 38/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9971 - accuracy: 0.5245
Epoch 39/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9955 - accuracy: 0.4995
Epoch 40/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9934 - accuracy: 0.5111
Epoch 41/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9937 - accuracy: 0.5188
Epoch 42/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9952 - accuracy: 0.5149
Epoch 43/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9913 - accuracy: 0.5217
Epoch 44/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9908 - accuracy: 0.5380
Epoch 45/200
18/18 [==============================] - 0s 2ms/step - loss: 1.0041 - accuracy: 0.5448
Epoch 46/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9944 - accuracy: 0.5496
Epoch 47/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9877 - accuracy: 0.5274
Epoch 48/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9930 - accuracy: 0.5111
Epoch 49/200
18/18 [==============================] - 0s 3ms/step - loss: 0.9871 - accuracy: 0.5063
Epoch 50/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9832 - accuracy: 0.5265
Epoch 51/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9808 - accuracy: 0.5303
Epoch 52/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9813 - accuracy: 0.5274
Epoch 53/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9764 - accuracy: 0.5168
Epoch 54/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9760 - accuracy: 0.5265
Epoch 55/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9758 - accuracy: 0.5159
Epoch 56/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9802 - accuracy: 0.5515
Epoch 57/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9746 - accuracy: 0.5226
Epoch 58/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9747 - accuracy: 0.5274
Epoch 59/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9794 - accuracy: 0.5496
Epoch 60/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9722 - accuracy: 0.5419
Epoch 61/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9721 - accuracy: 0.5294
Epoch 62/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9749 - accuracy: 0.5563
Epoch 63/200
18/18 [==============================] - 0s 2ms/step - loss: 0.9742 - accuracy: 0.5582
Epoch 64/200
18/18 [==============================] - 0s 3ms/step - loss: 0.9777 - accuracy: 0.5573

In [ ]:
len(history.history['loss'])

64

In [ ]:
loss, accuracy = model.evaluate(X_train, Y_train)

33/33 [==============================] - 0s 2ms/step - loss: 0.9885 - accuracy: 0.5640

In [ ]:
print("Accuracy: %.2f%% Loss: %.2f%%" % (accuracy*100, loss*100))

Accuracy: 56.40% Loss: 98.85%

In [ ]:
Actual = np.argmax(model.predict(X_test),axis=1)

In [ ]:
for i in range(len(Y_test)):
  print("X = %s, Predicted = %s" % (Y_test[i], Actual[i]))

X = [0. 0. 1.], Predicted = 2
X = [0. 1. 0.], Predicted = 1
X = [1. 0. 0.], Predicted = 1
X = [0. 1. 0.], Predicted = 2
X = [1. 0. 0.], Predicted = 2
X = [0. 0. 1.], Predicted = 2
X = [0. 1. 0.], Predicted = 1
X = [0. 1. 0.], Predicted = 1
X = [1. 0. 0.], Predicted = 2
X = [0. 1. 0.], Predicted = 2
X = [1. 0. 0.], Predicted = 2
X = [0. 0. 1.], Predicted = 2
X = [1. 0. 0.], Predicted = 1
X = [0. 0. 1.], Predicted = 2
X = [1. 0. 0.], Predicted = 1
X = [0. 0. 1.], Predicted = 1
X = [0. 0. 1.], Predicted = 1
X = [1. 0. 0.], Predicted = 1
X = [0. 1. 0.], Predicted = 1
X = [0. 1. 0.], Predicted = 1